
.weeklyCalendar {
  height: 100%;
}

.calendarDayOfWeekWeekly {
  display: inline-flex;
  width: 100%;
  padding-left: 55px;
}

.hour-time {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 138% */
  width: 100%;
  text-align: center;
}

.time-bar-container2 {
  position: absolute;
  width: calc(100%);
  left: 0px;
  z-index: 999999;
  align-items: center;
  display: inline-flex;
}


.time-bar-circle2 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #007AC2;
}

.time-bar2 {
  flex-grow: 1;
  height: 0px;
  border: 2px solid #007AC2;
}

.day-header {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #DFDFDF;
  border-bottom: 1px solid #DFDFDF;
  text-transform: uppercase;
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  width: calc(100% / 7);

  &.selected {
    color: #007AC2 !important;
  }
}
