
.weeklyCalendar {
  height: 100%;
}

.calendarDayOfWeekWeekly {
  display: inline-flex;
  width: 100%;
  padding-left: 55px;
}

.hour-time {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 138% */
  width: 100%;
  text-align: center;
}

.day-header {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #DFDFDF;
  border-bottom: 1px solid #DFDFDF;
  text-transform: uppercase;
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  width: calc(100% / 7);

  &.selected {
    color: #007AC2 !important;
  }
}
