.dailyEventWrapper {
  font-size: 0.8em;
  min-height: 1.6em;
  left: 50px;
  height: 100%;
  color: #151515;
  border-radius: 0px;
  box-sizing: border-box;
  padding: 5px 10px;
  line-height: 100%;
  border: 0px solid #007AC2;
  background-color: white !important;
}


.eventTimeDailyTime {
  font-family: 'Avenir';
  font-style: normal;
  margin-top: 2px;
  font-weight: 500;
  font-size: 14px;
  color: #6A6A6A;
  /* identical to box height, or 133% */

  text-align: left;


}

.eventTimeDailyTitleHeader {
  font-family: 'Avenir';
  font-style: normal;

  font-weight: 500;
  font-size: 15px !important;
  color: #151515;
  /* identical to box height, or 133% */

  text-align: left;


}

