.dailyEventWrapper {
  font-size: 0.8em;
  min-height: 1.6em;
  left: 50px;
  height: 100%;
  color: white;
  border-radius: 0px;
  box-sizing: border-box;
  padding: 5px 10px;
  line-height: 100%;
  border: 1px solid #007AC2;
  background-color: transparent !important;
}

.dailyEventTitle {

  font-family: 'Avenir';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

  /* Text/Text-1 */

  color: #151515;
}
