.dailyWrapper2 {

  width: calc(100% / 7);

  height: 100%;
}

.dayCell {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  text-align: right;
  overflow: hidden;
  border-left: 1px solid #DFDFDF;

  cursor: pointer;
  width: calc(100% / 7);
  height: 90px;

  .dayDate {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #151515;

    display: block;
    text-align: center;
    padding: 3px;
    position: relative;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
  }

  .disabled {
    opacity: 0.5;
    pointer-events: none !important;
  }

  .inactiveDay {
    color: #b5b5b5;
  }
}


.dayText {
  display: inline-block;
  position: relative;
  height: 20px;
  width: 20px;
  padding: 2px;
  line-height: 20px;
  font-size: 0.9em;
  text-align: center;
}

.currentDay {
  border-radius: 50%;
  color: white;
  background-color: #007AC2;
}

.dayCellEventWrapper {
  display: block;
  text-align: left;
}

.dayEventsRemaining {
  pointer-events: none;
  position: absolute;
  font-size: 0.6em;
  height: 16px;
  line-height: 16px;
  bottom: 0;
  z-index: 10;
  left: 10px;
}

.dailyHourTextWrapper2 {
  position: absolute;
}

.dailyTimeLine2 {
  position: absolute;
  width: calc(100% - 0px);
  margin-left: 0px;
  border-left: 2px solid #DFDFDF;
}

.dailyTimeLineWrapper2 {
  position: relative;
  height: 100%;
  min-height: 500px;

}

.dailyHourWrapper2 {
  height: 61px;
}

.dailyHour2 {
  position: relative;
  height: 0px !important;
}

.dailyHourText2 {
  height: 100%;
  line-height: 20px;
  width: 50px;
  display: inline-block;
  font-size: 0.8em;
  font-weight: 600;
  color: #b5b5b5;
}

.dailyHourLine2 {
  height: 1px;
  width: 100%;
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  background-color: #EAEAEA;
}

.dayEvent2 {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  z-index: 10;
}

.dayEventMultiple2 {
  padding-right: 20px;
}

.allDayEvent2 {
  min-height: 20px;
  box-sizing: border-box;
  margin: 10px 0;
}
